@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@media (max-width: 600px) {
    .desktop-only {
        visibility: hidden !important;
        height: 0px !important;
        width: 0px !important;
        font-size: 0px !important;
    }
    .mobile-adaptive {
        float: unset !important;
    }
    .desktop-40vw {
        width: 60vw;
    }
    .desktop-35vw {
        width: 60vw;
    }
    .desktop-17vw {
        width: 60vw;
    }
    .desktop-floated {
        margin-bottom: 10px;
    }
}
@media (min-width: 600px) {
    .mobile-only {
        visibility: hidden !important;
        height: 0px !important;
        width: 0px !important;
        font-size: 0px !important;
    }
    .desktop-floated {
        float: left !important;
    }
    .desktop-40vw {
        width: 40vw;
    }
    .desktop-35vw {
        width: 35vw;
    }
    .desktop-17vw {
        width: 17vw;
    }
}
html {
    scroll-behavior: smooth;
    font-family: 'Raleway', Arial, Helvetica, sans-serif !important;
}
body {
    overflow-y: unset !important;
}
img {
    max-width: 30vw;
    height: auto;
    border-radius: 10px;
}
.applogo {
    border-radius:0px !important;
}
button {
    cursor: pointer;
}